<%- include("partials/header.ejs") -%>
<h1><%= titleHTML %></h1>
<p><%= bodyHTML %></p>

<div>
	<form action="/edit/<%=postId%>" method="get" class="editanddelete">
		<button class="btn btn-warning"  type="submit">Edit</button>
	</form>

	<form action="/posts/<%=postId%>" method="delete" class="editanddelete">
		<button class="btn btn-danger" type="submit">Delete</button>
	</form>
</div>
<%- include("partials/footer.ejs") -%>